.Text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-text);
}
.MulishText{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:  var(--color-text); 
}
.flex{
    display: flex;
}
.link{
    cursor: pointer;
}
.marginTopAuto{
    margin-top: auto;
}
.marginBottomTopAuto{
    margin-top: auto;
    margin-bottom: auto;
}
.marginLeftRightAuto{
    margin-left: auto;
    margin-right: auto;
}
.marginLeftAuto{
    margin-left: auto;
}
.marginRightAuto{
    margin-right: auto;
}
.center{
    margin: auto;
}
.line{
    height: 1px;
    background-color: var(--color-line);
}
.disableOverflow{
    overflow: hidden;
}