.headerDesktop{  
    border-bottom: var(--color-line-darkBorder);
    display: flex;
    height: 58px;
    background-color: var(--color-header);
    transition: all var(--animationTime);
}
.headerMobile{
    display: none;
}
.navigationMenu{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:34px;
    display: flex;
}


.nav {
    margin-left: 38px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
}
  
.nav li {
    display: flex;
    align-items: center;
    margin-right:20px;
}
  

  
.nav a:hover,
.nav a.active {
    color: var(--color-text-hover);
    
}

.settingsContainer{
  display:flex;
  margin-left: auto;
  margin-right: 34px;
}


.price{
  margin-left: 10px;
  margin-right: 22px;
}
.connectWallet{
  border: 1px solid var(--color-text);
  transition: all var(--animationTime);
  box-sizing: border-box;
  border-radius: 30px;
  margin-left: 22px;
  height:fit-content;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  
}
.connectWallet p{
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 17px;
  margin-right: 17px;
}

.settingsIcon{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.settingsIcon img{
  filter:var(--icon-filter);
  transition: all var(--animationTime);
}
.settingsModal{
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 40px;
  padding: 15px;
  width: 135px;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  left: -4px;
  background: var(--color-modalBack2);
  transition: all var(--animationTime);
}
.settingsModalLine{
  display:flex;
}
.settingsModalLine p{
  margin-left:14px;
}
.navigationMenu h1{
  margin-left: 14px;
  color:var(--color-text-hover);
  font-weight: 900;
  transition: all var(--animationTime);
  font-size: 22px;
}
@media only screen and (max-width:630px) {
    .headerDesktop{
      display: none;
    }
    .headerMobile{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .headerMobileMenu{
      display: flex;
      height: 50px;
      width:100%;
      border-bottom: var(--color-line-darkBorder);
      background-color: var(--color-header);
    }
    .mobileLogo{
      margin-left: 8px;
      display: flex;
    } 
    .mobileLogo h1{
      margin-left: 14px;
      color:var(--color-text-hover);
      font-weight: 900;
      margin-top: auto;
      margin-bottom: auto;
      transition: all var(--animationTime);
      font-size: 22px;
    }
    .headerMobileControls{
      margin-left: auto;
      margin-right: 18px;
      display: flex;
    }
    .settingsModal{
      left:-140px;
    }
    .burger{
      margin-left:14px;
    }
    .burger img{
      filter: var(--icon-filter);
      transition: all var(--animationTime);
    }
    .headerMobileMenuDropdown{
      display: flex;
      position: absolute;
      top: 52px;
      width: 100%;
      z-index: 2;
      border-bottom: var(--color-line-darkBorder);
      background-color: var(--color-header-mobile);
    }
    .headerMobileMenuDropdownInnerContainer{
      display: flex;
      flex-direction: column;
      margin:24px;
      width:100%;
    }
    .nav{
      margin-left: 0;
      flex-direction: column;
      margin-bottom: 19px;
    }
    .nav li{
      margin-right: 0;
      margin-bottom: 14px;
    }
    .nav li:last-child{
      margin-bottom: 0;
    }
    .connectWallet{
      margin-top: 28px;
      margin-left: 0;
      width:100%;
    }
    .connectWallet p{
      text-align: center;
    }
}
