body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;

  --animationTime: 0s;

  background: var(--main-bg-color);
  transition: all var(--animationTime);
}
html{
  background-color: var(--main-bg-color-overflow);
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--color-scrollBack);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-scrollFront);
  border-radius: 4px;
}



#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@-moz-document url-prefix() { 
  html {
    scrollbar-color: var(--color-scrollFront) var(--color-scrollBack);
    scrollbar-width: thin;
  }
}

@font-face {
  font-family: 'Coolicons';
  src: url('./fonts/Coolicon/coolicons.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish/Mulish-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish/Mulish-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish/Mulish-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish/Mulish-Bold.ttf');
  font-style: normal;
  font-weight: 600;
}